<header>
    <nav class="navbar navbar-default noBorder" role="navigation">
        <div class="container">
            <a href="{{ site.baseurl }}/" style="text-decoration: none; color:inherit;">
                <img src="{{ site.baseurl }}/assets/images/header-thumb.png" alt="Decorative paint strokes with faint image of man writing at a desk" class="header-thumb" />
                <div class="navbar-header">
                    <h2 class="brandStyle">Ard Ray</h2>
                    <p class="sub-2">Security, DevOps, Weltschmerz</p>
                </div>
            </a>
        </div>           
    </nav>                
</header>